<div class="find-content">
    <div class="div-instructions">
        <p>
            We are located in the quiet Carmarthenshire countryside, between the towns of Newcastle Emlyn (10 miles) and Carmarthen (6 miles). The park sits on the edge of the small village of Blaen-y-Coed.
            <br> Please follow directions below to the park as there are other routes that sat-nav may show that are not recommended routes to access the park,  being narrow and at times with steep inclines, we do not advise them if towing a caravan or driving a motorhome. In particular, we would warn against trying to come to the park from Cynwyl Elfed village as the route is not suitable for caravans and motorhomes.
            <br> <br>
            1)         From the roundabout at the end of the M4. <br>
            2)         Take the 2nd exit onto A48, following signs to Carmarthen <br>
            3)         At the next roundabout take the 3rd exit and stay on A48 <br>
            4)         Continue to follow signs to Carmarthen. <br>
            5)         At the next roundabout, take the second exit <br>
            6)         At the next roundabout, take the 3rd exit onto A4242 <br>
            7)         At the first roundabout, take the 1st exit onto Morfa Lane B4312 <br>
            8)         At the roundabout, take the 3rd exit onto St Catherine Street <br>
            9)         After 150 yds Turn left at traffic lights <br>
            10)       Continue on this road for approx 5 miles <br>
            11)       Take the left turn at crossroads signed Blaenycoed <br>
        </p>
    </div>
    <div class="googlemaps">
        <iframe width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9843.097718388075!2d-4.412759314302524!3d51.91982645963893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000:0x903c1c2a5008f13d!2sWoodland%20Rise%20Camping%20and%20Caravanning!5e0!3m2!1sen!2sus!4v1446313891630"></iframe>
    </div>
    <p>
        Address: <br> <br>
        Woodland Rise Camping and Caravan park <br>
        Fferm Fach <br>
        Blaen-y-Coed <br>
        Carmarthen <br>
        SA33 6ET
    </p>
</div>