<div class="facilities-content">

    <!-- <table>
        <tr>
            <th>Site Facilities</th>
            <th>Features</th>
        </tr>
        <tr>
            <td>5 Hardstanding pitches</td>
            <td> With electric hookup</td>
        </tr>
        <tr>
            <td>10 grass pitches</td>
            <td> Optional electric hookup for tents</td>
        </tr>
        <tr>
            <td>2 heated wet rooms</td>
            <td> Both with shower and toilets </td>
        </tr>
        <tr>
            <td>2 heated washrooms</td>
            <td>Both with toilets, one with baby change facility</td>
        </tr>
        <tr>
            <td>Caravan specific items available</td>
            <td>Gas sold here</td>
        </tr>
        <tr>
            <td>Chemical toilet disposal point</td>
            <td>(Green toilet fluid only, supplies are available to purchase)</td>
        </tr>
        <tr>
            <td>Items for sale or hire</td>
            <td>Ice creams, fire pits and BBQs available</td>
        </tr>
    </table> -->

  <app-facilities-table></app-facilities-table> 


    <p>Caravans, motorhomes, campervans, trailer tents, and tents are all welcome here.</p>

</div>
