<!DOCTYPE html>
<html>
   
<body>
    <div class="wrapper">

        <div class="grid-container">
            <div class="grid-image">
                <!-- <img src="assets/gallery/1.jpg" alt="Caravan">
                 -->
                 <img src="{{ image1url }}" alt="Caravan">
            </div>
            <div  class="grid-image">
                <img src="{{ image2url }}" alt="Dog">
            </div>
            <div  class="grid-image">
                <img src="{{ image3url }}" alt="View from the air">
            </div>
            <div  class="grid-image">
                <img src="{{ image4url }}" alt="Tent">
            </div>
            <div  class="grid-image">
                <img src="{{ image5url }}" alt="The Site">
            </div>
            <div  class="grid-image">
                <img src="{{ image6url }}" alt="Drone Shot">
            </div>
            <div  class="grid-image">
                <img src="{{ image7url }}" alt="Caravans">
            </div>
            <div  class="grid-image">
                <img src="{{ image8url }}" alt="Sunny day at Woodland Rise">
            </div>
            <div  class="grid-image">
                <img src="{{ image9url }}" alt="View of the field">
            </div>
            <div  class="grid-image">
                <img src="{{ image10url }}" alt="Drone View of the Park">
            </div>
        </div>

    </div>


</body>
</html>