<!DOCTYPE html>
<html>
   
<body>
    <div class="wrapper">

        <div class="grid-container">
            <div class="grid-image">
                <img src="assets/gallery/1.jpg" alt="Caravan">
            </div>
            <div  class="grid-image">
                <img src="assets/gallery/2.jpg" alt="Dog" >
            </div>
            <div  class="grid-image">
                <img src="assets/gallery/3.jpg" alt="View from the air">
            </div>
            <div  class="grid-image">
                <img src="assets/gallery/4.jpg" alt="tent">
            </div>
            <div  class="grid-image">
                <img src="assets/gallery/5.jpg" alt="The site">
            </div>
            <div  class="grid-image">
                <img src="assets/gallery/6.jpg" alt="Drone shot">
            </div>
            <div  class="grid-image">
                <img src="assets/gallery/7.jpg" alt="Caravans">
            </div>
            <div  class="grid-image">
                <img src="assets/gallery/8.jpg" alt="Sunny day">
            </div>
        </div>

    </div>


</body>
</html>