
<div class="home-content">
    <p>Welcome to Woodland Rise Camping and Caravan park!</p>
    <p>We’re a small, family-run park in the rural hamlet of Blaen-y-coed in Carmarthenshire, West Wales. </p>
    <p>In our quiet countryside location, visitors can enjoy views of the gorgeous West Wales countryside by day and starry skies by night. </p> 
    <p> We are also a pet-friendly site, with plenty of space onsite and local woodland trails for you and your furry friends to stretch your legs.</p>
</div>

<div class="home-button-center">
    <button mat-button type="button" target="_blank">
    Write a Google Review
    </button> 
</div>
