    
    <div>
        <p>
            Here at Woodland Rise, we take your privacy seriously. We will only use your personal information to administer your account and to provide the service you have requested from us. From time to time we may like to contact you with you details of promotions and new service provisions. To do this we keep limited information about your booking history and contact details. Should you wish for your data to be removed from our records, please email admin@woodland-rise.com and we will process your request promptly.

            We will not make your data available to any other party except if required by statute. <br>
            
            Our data processor is Queenborough group and sub processors providing services in connection with our online booking which are Hotel/host company and Rackspace
        </p>
    </div>

