<head>
  <title>Woodland Rise Camping</title>
  <!-- <link rel="stylesheet" href="../styles/style.css"> -->
  <!-- <script type="text/javascript" src="../scripts/functions.js"></script> -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/x-icon" href="../assets/favicon.png" />
  
</head>

<div class="wrapper">
  <div class="home-header">
    <img src="assets/header-image-woodland-rise-camping.jpg" alt="Woodland Rise Header Photo">
    <h1>Woodland Rise Camping and Caravan Park</h1>
    <div class="mobile-header">
      <img src="assets/header-image-woodland-rise-camping.jpg" alt="Woodland Rise Camping Field">
    </div>
    <h2>Camping and Caravan Park for adults and children situated in the West Wales countryside</h2>
  </div>

  
  <nav [ngClass]="{'sticky' : isSticky}">
    <div class="menu" (click)="menuToggle()">
      <hr>
      <mat-icon class="menu_icon">menu</mat-icon>
      <hr>
    </div>
    <ul id="menu-list">
      <li><a [ngClass]="{'menu-icon-selected' : activeURL == '/'}" href="#" routerLink="/" (click)="navTo()">Home</a></li>
      <li><a href="#" routerLink="/gallery" (click)="navTo()">Gallery</a></li>
      <li><a href="#" routerLink="/facilities" (click)="navTo()">Facilites</a></li>
      <li><a href="#" routerLink="/attractions" (click)="navTo()">Attractions</a></li>
      <li><a href="#" routerLink="/findus" (click)="navTo()">Find Us</a></li>
      <li><a href="#" routerLink="/contactus" (click)="navTo()">Contact Us</a></li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet (activate)="getName()"></router-outlet>
  </div>

</div>

<footer class="footer">
  <div style="display: flex">

      <div style="flex: 1; display: flex; margin: auto">
        <div>
            <a class="social-media-icon" href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&u=https%3A%2F%2Fwoodland-rise.com%2F&display=popup&ref=plugin&src=share_button"><fa-icon [icon]="faFacebook"></fa-icon></a>
        </div>
        <div>
            <a class="social-media-icon" href="https://www.google.com/search?q=woodland+rise&rlz=1C1CHBF_en-GBGB794GB794&oq=woodland+rise&aqs=chrome.0.69i59j69i60l3j0l2.2669j0j9&sourceid=chrome&ie=UTF-8#lrd=0x486edfbe2809681d:0x903c1c2a5008f13d,3,,,"><fa-icon [icon]="faGoogle"></fa-icon></a>
        </div>
        <div>
            <a class="social-media-icon" href="https://twitter.com/WoodlandRiseUk?ref_src=twsrc%5Etfw"><fa-icon [icon]="faTwitter"></fa-icon></a>
        </div>   
      </div>


    <div style="flex: 1">

        <ul style="float: right; margin-right: 2vw;">
          <li class="footer-list">
            <a class="footer-text" href="/src/assets/sitemap.xml">Site Map</a>
          </li>
          <li class="footer-list">
            <a class="footer-text" href="#" routerLink="/privacynotice">Privacy Policy</a>
          </li>
        </ul>
       
    </div>

   

  </div>


  

</footer>