.menu_icon {
    cursor: pointer;
}

.mat-elevation-z5 {
    position: relative;
  }

.web-menu {
  display: inline;
}  

.sticky {
  position: fixed;
  top: 0px;
  margin: 0 auto;
  background-color:white;
  // max-height: 55px;
  z-index: 50;
}

.header {
  margin-top: 50px;
}

nav {
  width: 100%;
  margin: 0 auto;
}

li {
  line-height: normal;
}