<div class=carousel>

    <div *ngIf="show" fxLayout="row" fxLayoutGap="2%" >
        <mat-card *ngFor="let item of attractions.slice(strtNo,endNo)"
         fxFlex="2 1 calc(33.3% - 5%)">
            <a href="{{item.link}}" target="_blank"><strong>{{item.title}}</strong> <br></a>
            {{item.text}}
        </mat-card>
    </div>

    <div *ngIf="!show" >
        <mat-card *ngFor="let item of attractions.slice(strtNo,endNo)">
            <a href="{{item.link}}" target="_blank"><strong>{{item.title}}</strong> <br></a>
            {{item.text}}
        </mat-card>
    </div>

    <div class="carousel-icons">
        <mat-icon *ngIf="show" class=carousel-icon (click)="carouselItemUpdate('bck')">chevron_left</mat-icon>
        <mat-icon class=carousel-icon (click)="carouselItemUpdate('fwd')">chevron_right</mat-icon>
    </div>

</div>


