.mat-card-container {
    width: 100%;
}

.carousel {
    border: gray solid 1px;
    align-items: center;
    margin: auto auto;
}

.carousel-icons {
    margin-left: 2%
}

.carousel-icon {
    cursor: pointer;
    padding-top: 10px;
}

.attractions-numbers {
    position: relative;
    top: -7px;
}