<mat-dialog-content>

    <div style="display:flex">
        <div style="flex:1">
            <p>To use this website you must agree with our <a href="#" routerLink="/privacynotice">Privacy Policy</a></p>
            <p>To ensure the best experience, we use cookies to track usage via Google Analytics.</p>
            <p>By clicking OK we will assume that you are happy to continue.</p>
        </div>

        <div style="flex:1;">
            <img src="assets/Mucky spanners.jpg" alt="Springer Spaniels" style="width:90%; float:right">
        </div>


    </div>




</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-button style="color:white; background-color: #2f5349;" [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>

