
<div class="home-content">
     <p class="has-text-align-center" [innerHTML]="this.welcomeText1"></p>

    <div align="center" style="margin-top: 25px; margin-bottom: 25px;">
        <a style="color:white; background-color: #2f5349; padding: 15px; font-size:16px; text-decoration:none; border-radius:5px; font-family: arial" href="https://secure.hotels.uk.com/bookings/#/booking/45131/items/availability?k=2E0SI2T4nGMeW8wFpducAdIugNDUxMzE=" target="_blank" rel="noopener"> Book Now</a>
    </div>

     <p class="has-text-align-center" [innerHTML]="this.welcomeText2"></p>
  
</div>






