
<div class="home-content">
    <p>Welcome to Woodland Rise Camping and Caravan park!</p>
    <p class="has-text-align-center">We're a small, family-run park in the rural hamlet of Blaen-y-coed in Carmarthenshire, West Wales. In our quiet countryside location, visitors can enjoy views of the gorgeous West Wales countryside by day and starry skies by night.&nbsp;We are a pet-friendly site, with plenty of space onsite and a local woodland trail for you and your furry friends to stretch your legs.</p>    
    <p class="has-text-align-center">Our prices start from as little as £19.00 per night for a pitch. All bookings include two adults in the price (additional adults and children can be included).</p>
    <p class="has-text-align-center">Whether you are planning a camping or caravan holiday, we look forward to welcoming you to our park soon.</p>
    
    <p class="has-text-align-center" style="margin-top: 25px;"><strong>Don't miss out on your ideal break at Woodland Rise!</strong><br>Just click the Book now button below to book or call or send us an e-mail.</p>
</div>

<div align="center" style="margin-top: 50px;">
    <a style="color:white; background-color: #f44336; padding: 15px; font-size:16px; text-decoration:none; border-radius:5px; font-family: arial" href="https://secure.hotels.uk.com/bookings/#/booking/45131/items/availability?k=2E0SI2T4nGMeW8wFpducAdIugNDUxMzE=" target="_blank" rel="noopener"> Book Now</a>
</div>

<div style="display: flex; max-width: 50%; margin: 75px 0 50px 0;" class="center">
    <div>
        <a class="social-media-icon" href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&u=https%3A%2F%2Fwoodland-rise.com%2F&display=popup&ref=plugin&src=share_button"><fa-icon [icon]="faFacebook"></fa-icon></a>
    </div>
    <div>
        <a class="social-media-icon" href="https://www.google.com/search?q=woodland+rise&rlz=1C1CHBF_en-GBGB794GB794&oq=woodland+rise&aqs=chrome.0.69i59j69i60l3j0l2.2669j0j9&sourceid=chrome&ie=UTF-8#lrd=0x486edfbe2809681d:0x903c1c2a5008f13d,3,,,"><fa-icon [icon]="faGoogle"></fa-icon></a>
    </div>
    <div>
        <a class="social-media-icon" href="https://twitter.com/WoodlandRiseUk?ref_src=twsrc%5Etfw"><fa-icon [icon]="faTwitter"></fa-icon></a>
    </div>   
</div>




